.wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.button{
    border: none;
    width: 200px;
    border-radius: 5px;
    padding: 20px;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}